.page-cover-video {
  position: relative;
  z-index: 1;

  video {
    object-fit: cover;
    background-size: cover;
    opacity: 1;
    overflow: visible;
    visibility: visible;
    background: transparent;
    width: 1583px;
    height: 700px;
    display: block;
  }

  .title {
    position: absolute;
    display: block;
    pointer-events: auto;
    width: 100%;
    margin: 0 auto;
    top: 194px;
    z-index: 6;
    visibility: visible;
    perspective: 601px;


    h1 {
      z-index: 6;
      font-family: $font-name;
      height: auto;
      width: auto;
      color: $light;
      text-decoration: none;
      white-space: nowrap;
      min-height: 0px;
      min-width: 0px;
      max-height: none;
      max-width: none;
      margin: 0;
      text-align: center;
      line-height: 90px;
      letter-spacing: -4px;
      font-weight: 700;
      font-size: 80px;
      transform-origin: 50% 50%;
      opacity: 1;
      transform: translate(0px, 0px);
      visibility: visible;
    }

    .text {
      z-index: 7;
      font-family: $font-name;
      height: auto;
      width: auto;
      color: $light;
      text-decoration: none;
      white-space: nowrap;
      min-height: 0px;
      min-width: 0px;
      max-height: none;
      max-width: none;
      margin-top: 10px;
      text-align: center;
      line-height: 25px;
      letter-spacing: 0px;
      font-weight: 400;
      font-size: 20px;
      transform-origin: 50% 50%;
      opacity: 1;
      transform: translate(0px, 0px);
      visibility: visible;
    }
  }

  .footer-video {
    border-radius: 20px;
    background-color: $light;
    position: absolute;
    top: -150px;
    padding: 30px;
    margin-top: -80;

    .berands {
      .logo-berand {
        display: flex;
        align-items: center;
        justify-content: center;

        .img-logo-berand {
          margin-left: 20px;
          text-align: center;
          padding: 10px;
        }
      }
    }
  }

  .description {
    position: relative;
    z-index: 1;
    text-align: center;

    .text {
      width: 80%;
      position: relative;
      z-index: 2;
      vertical-align: middle;
      word-break: normal;
      margin: 0 auto;

      p {
        text-align: center;
        color: #aaaaaa;
        margin-bottom: 10px;
      }
    }
  }

  .btn-center {
    display: block;
    width: 100%;
    text-align: center;

    .btn-success {
      color: $light;
      background-color: #79a342;
      padding: 10px 30px;
      margin: 0px;
      border-width: 0px;
      border-color: #a3a3a3;
      border-radius: 100px;
      position: relative;
      display: inline-block;
      text-align: initial;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      transition: all .3s ease-in-out;

      &:hover , &:focus {
        box-shadow: inset 0 -3.25em 0 0 #333;
      }
    }
  }
}